.homepage {
  background-image: url("/pictures/homebg.jpeg");
  height: 100vh;
}

.title {
  font-family: "Amatic SC", cursive;
  font-size: 70px;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.menu {
  position: absolute;
  height: 40%;
  width: 30%;
  margin: 5% 35%;
  list-style: none;
  padding: 0;
  text-align: center;
}

.links {
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 40px;
  height: 100px;
  display: block;
  margin: auto;
  padding-top: 15px;
  font-family: "Amatic SC", cursive;
}

.links:hover {
  opacity: 0.75;
}
