.pic {
  padding-top: 1%;
  display: block;
  max-width: 600px;
  max-height: 500px;
  margin: 0 auto;
}

.home {
  display: block;
  width: fit-content;
  font-size: 40px;
  margin: 5px auto;
  font-family: "Amatic SC", cursive;
  text-decoration: none;
  color: black;
  border: solid black 1px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}

.again {
  display: block;
  width: fit-content;
  font-size: 40px;
  margin: 5px auto;
  font-family: "Amatic SC", cursive;
  text-decoration: none;
  color: black;
  border: solid black 1px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
}

.home:hover {
  opacity: 0.3;
}

.again:hover {
  opacity: 0.3;
}
