.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  background: white;
  top: 5vh;
  bottom: 10vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: auto;
}

.picture {
  display: block;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.name {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
}

.texts {
  display: block;
  margin: 0 auto;
  padding: 0px 10px;
  text-align: left;
  font-family: "Pompiere", cursive;
  font-size: 22px;
}

.desc {
  text-align: center;
}

.weight {
  text-align: center;
}

.weightTexts {
  display: inline;
}

.close {
  display: block;
  margin: 0 auto;
}
