.breed {
  display: block;
  font-size: 38px;
  font-family: "Amatic SC", cursive;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 5px;
  padding: 0 5px;
  color: white;
  background-color: rgba(0, 0, 0);
  border-radius: 10px;
}

.breed:hover {
  opacity: 0.5;
  cursor: pointer;
}
