.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: fixed;
  background-image: url("./pictures/modalbg.png");
  background-size: cover;
  top: 5vh;
  bottom: 10vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: auto;
}

.picture {
  display: block;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.name {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 50px;
}

.texts {
  margin: 0 auto;
  padding: 0 20%;
  text-align: left;
  font-family: "Pompiere", cursive;
  font-size: 22px;
}

.desc {
  padding-bottom: 3%;
  display: block;
  text-align: center;
}

.weightButton {
  border-radius: 5px;
  border-width: 1px;
  background-color: white;
  font-size: 75%;
  width: auto;
}

.weightButton:hover {
  opacity: 0.5;
}

.close {
  font-family: "Pompiere", cursive;
  font-size: 22px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border-width: 1px;
  background-color: white;
}

.close:hover {
  opacity: 0.5;
}

.ratingPics {
  width: 34%;
}
