.paginationContainer {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.paginationItem {
  font-family: "Varela Round", sans-serif;
  padding: 0 12px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  align-items: center;
  border-radius: 15px;
  font-size: 20px;
  background-color: rgba(255, 255, 255);
}

.paginationItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.dots:hover {
  background-color: transparent;
  cursor: default;
}

.disabled {
  pointer-events: none;
}

.selected {
  background-color: rgba(0, 0, 0, 0.08);
}
